.fixed_wrap {
    height: 30px;
}
.fixedbottom {
		position: fixed;
		bottom: 0rpx;
		width: 100%;
		/* background-color: red; */
		text-align: center;
		z-index:99999
	}
.checkbox-sm{
	transform:scale(0.7)
}
.floatleft{
	
}