<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="IPPVersion" value="3.0.23" />
  

  <add key="SystemSecrect" value="45123721c2334641b48463e576328af0" />
  <add key="TokenExpireMinutes" value="1440" />
  <!--微信appid 和秘钥设置-->
  <add key="WeiXinAppid" value="wxcd50b62b652baa5f"/>
  <add key="WeiXinSecret" value="00b12c6a8af451d82cfa1f429f5ff307"/>
</appSettings>
