<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ConnectionString" connectionString="server=10.1.2.189;User ID=sa;Password=123456;database=erpdb" />
  <add name="QueryConnectionString" connectionString="server=10.1.2.189;User ID=sa;Password=123456;database=erpdb" />
  <add name="PublicConnectionString" connectionString="server=10.1.2.189;User ID=sa;Password=123456;database=erpdb" />
  <add name="ProductConnectionString" connectionString="server=10.1.2.189;User ID=sa;Password=123456;database=erpdb" />
  <add name="CatagoryConnectionString" connectionString="server=10.1.2.189;User ID=sa;Password=123456;database=erpdb" />
</connectionStrings>