<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="IPPVersion" value="3.0.23" />
  

  <!--称重单位-->
  <add key="WeightDenominatedUnit" value="斤,公斤," />
  <!--百度合作方账号-->
  <add key="BaiDusource" value="65408" />
  <!--<add key="BaiDusource" value="30130" />-->
  <!--百度秘钥-->
  <add key="BaiDuSecret" value="816667bddefd10e4" />
  <!--<add key="BaiDuSecret" value="a78469a1c1cee476" />-->
  <!--邻趣服务Url-->
  <add key="LinQuServiceURL" value="http://dev-126.linjia.me:8088/api-server"/>
  <!--邻趣商品种类-->
  <add key="LinQuProductCategory" value="国产水果,进口水果,牛奶酸奶,1元劲爆,粮油,调料,熟食,饮料,糕点,休闲"/>
  <!--记录Bug类型日志功能开启-->
  <add key="LogType_Bug" value="true" />
  <!--程序对象-->
  <add key="SystemObjectType" value="1" />
  <!--OpenApi服务地址-->
  <add key="OpenApiUrl" value="http://192.168.1.189:9000" />
  <!--Gis地图服务地址-->
  <add key="GisUrl" value="http://192.168.1.189:9002" />
  <!--天猫转发服务 部署在天猫聚石塔内-->
  <!--<add key="TMServiceAddress" value="http://101.37.39.145/"/>-->
  <add key="TMServiceAddress" value="http://localhost/Eson.TM.Host/"/>
  <!--收银服务地址-->
  <!--<add key="StoreSystemRestServiceAddress" value="http://www.chisg.com:9008/"/>-->
  <!--收银服务开发本机测试地址-->
  <add key="StoreSystemRestServiceAddress" value="http://localhost/Eson.Store.Host/"/>
  <!--收银服务冒烟test地址-->
  <!--<add key="StoreSystemRestServiceAddress" value="http://testStoreService.mmsshh.com/" />-->
  <!--0元商品SysNo-->
  <add key="ZeroProductSysNo" value="52" />
  <!--0元补单TotalAmt-->
  <add key="ZeroProductTotalAmt" value="50" />
  <!--Xml文件配置路径-->
  <add key="XmlConfigPath" value="D:\\Eson\\Config\\" />

  <!--是否开通创建订单服务，0:不开发，1:开放-->
  <add key="IsOpenCreateSOServices" value="1" />
  <!--创建订单服务允许的来源平台-->
  <add key="CreateSOSalesManSysNo" value="" />
  <!--创建订单服务允许的门店-->
  <add key="CreateSOStockSysNo" value="" />
  <!--创建订单服务允许的收货人手机号-->
  <add key="CreateSOPhone" value="" />
  <add key="ProductDemandSpecial" value="0" />
  <!--单个用户退款统计周期-->
  <add key="AutoRefundAmtCountCyc" value="30" />
  <!--单个用户周期内金额累计上限-->
  <add key="MaxAutoTotalRefundAmt" value="30" />
  <!--累计退款次数限制-->
  <add key="MaxRefundTimesLimit" value="3" />
  <!--单次退款金额上限-->
  <add key="MaxSingleSORefundAmt" value="2" />
  <add key="IsOpenAutoRefund" value="true" />
  <!--退款拒绝原因对外 备注-->
  <!--申请金额超出限制  单次或者累计 -->
  <add key="VerifyFail" value="等待财务审核。" />
  <!--支付失败  微信企业支付返回错误 -->
  <add key="PayFail" value="等待财务审核！" />
  <!--退款成功，已成功退款给客户-->
  <add key="PaySuccess" value="退款成功，请注意查收！" />
  <!--定义钉钉消息接收人-->
  <!--超出金额限制 接收人-->
  <add key="OverAmtLimitReceiver" value="24000020,24000032"/>
  <!--财务预警接收人-->
  <add key="WarningReceiver" value="24000020,24000032"/>
  <!--每日自动退款预警金额-->
  <add key="WarningAmtWithDay" value="1,5,10,50" />
  <!--每小时累计退款次数预警-->
  <add key="WarningCountWithHour" value="2" />

  <add key="ReturnSoAutoRefundSalesManSysNo" value=""/>
  <!--未订货门店 全局消息接收人 1255线上id-->
  <add key="NotDemandStoreReceiver" value="24000020"/>
  

  <!--自动补货相关设置-->
  <!--是否兼容老的要货篮-->
  <add key="IsOpenOldBasket" value="true"/>
  <!--是否兼容老的要货篮 0 不开启 1开启-->
  <add key="IsOpenChildrenDemand" value="false"/>
  <!--截止提交时间-->
  <add key="DemandStopSubmitTime" value="1,02:00:00"/>
  <!--是否开启按规格订货-->
  <add key="IsOpenByTp" value="false"/>
  <!--日清商品自动报损类目-->
  <add key="DayClearCategory" value="358,492,104,351,352,353,354,355,377,393,418,468,380,38,17 "/>
  
  <!--日清商品自动报损类目 线上配置文件-->
  <add key="DayClearCategory_online" value="345,358,380,492,104,351,352,353,354,355,377,393,418,468"/>

  <add key="ExceptionStockSysNo"   value=",2,9,125,"/>
  
  <add key="AutoDiscountCategory" value="9"/>
  <!--超期打折自动转换类目 线上配置文件-->
  <add key="AutoDiscountCategory_online" value="351,352,104,353,354,355,393,468"/>
  
  <!--门店补货单修改次数限制，0为不限制-->
  <add key="LimitModifyCount" value="0"/>
  <!--门店补货单限制品类修改-->
  <add key="LimitCategory" value=",150,2,"/>

  <!--采购单触发Pmd审核的品类-->
  <add key="POPMDVerifyCategory" value=",94,2,"/>
  <add key="POPMDVerifyCategory_online" value=",156,485,486,488,157,489,490,487,325,327,328,346,360,361,362,365,475,497,329,330,331,332,333,334,335,364,367,177,420,140,"/>
  <!--按箱规拣货商品sysno-->
  <add key="PickWithBox" value=",66,68,"/>
  <add key="PickWithBox_online" value=",8784,7850,"/>


  <!--补货单折扣数据开关-->
  <add key="IsOpenDiscount" value="false"/>
  <add key="SubtractDiscount" value="50"/>
  
  <!--日销断货时间相关参数-->
  <add key="IsOpenOutofStock" value="true"/>
  <add key="firstlevel" value="2"/>
  <add key="secondlevel" value="1.5"/>
  <add key="thirdlevel" value="1.3"/>
  <!--开启单独系数品类-->
  <add key="C2SysNoRate" value=",90,"/>
  <add key="scfirstlevel" value="2"/>
  <add key="scsecondlevel" value="1.8"/>
  <add key="scthirdlevel" value="1.6"/>
  
   <!--触发PMD审核金额-->
  <add key="PMDAmt" value="50000"/>
  <add key="ImagePath" value="D:\\img\\" />

  <add key="ProductAttributeLink" value="ITSERVER1." />
  <!--是否开启PDA拣货-->
  <add key="IsOpenPdaPick" value="false" />


  <!--支付宝日志文件-->
  <add key="AlipayLogFolder" value="C:\\Temp\\ERPLog\\AlipayLog\\" />

  <add key="ErrorLogFolder" value="c:\\Temp\\IcsonError\\" />
  <add key="OrderMailTemplet" value="D:\\ICSON\\ICSON\\Icson.Web\\Shopping\\MailOrderTemplet.htm" />
  <add key="SOAllocatedMap" value="redstar:10" />
  <add key="PMCollection" value="Luckychen:Piecejiang:Appleli:nicshen" />
  <add key="APMCollection" value="WesleyQi:lovexyang:snoopzu;pobayhua" />
  <add key="FMCollection" value="apingtang:yixun:customer:other:shaofengqu:miaochangq:zhukui:liukaiyun:shaofengyi:chuanbin:liukaiyu:suzhou1:tangzhong:xuhui" />
  <add key="MailCharset" value="gb2312" />
  <add key="MailFrom" value="service@icson.com" />
  <add key="MailFromName" value="icson Support" />
  <add key="MailServer" value="61.152.96.121" />
  <add key="MailUserName" value="postmaster" />
  <add key="MailUserPassword" value="54253864" />
  <add key="MailLord" value="Icson IAS" />
  <add key="IsDaemon" value="false" />
  <add key="IsIAS" value="false" />
  <add key="AdminEmail" value="service@icson.com.cn" />
  <add key="IsSendEMail" value="false" />
  <add key="IsImportable" value="false" />
  <add key="PicturePath" value="http://www.icson.com/IcsonPic/" />
  <add key="OnlineRootPath" value="/" />
  <add key="ReviewBox" value="PM@icson.com" />
  <add key="ErrorBarcode" value="errorbarcode" />
  <add key="PrintBarcodeFile" value="c:\\temp\\PrintBarcodeFile.txt" />
  <add key="FCKeditor:BasePath" value="~/FCKeditor/" />
  <add key="FCKeditor:UserFilesPath" value="/Eson.IAS/UserFiles" />
  <add key="AutoCreateSOTimer" value="10" />
  <add key="AutoCreateSOCount" value="18" />
  <add key="IsAutoUpdateSecondHandProductPrice" value="true" />
  <add key="CrystalImageCleaner-AutoStart" value="true" />
  <add key="CrystalImageCleaner-Sleep" value="60000" />
  <add key="CrystalImageCleaner-Age" value="120000" />
  <add key="IsSendSMS" value="true" />
  <add key="IsSendEmailToPPM" value="false" />
  <add key="DefaultStockSysNo" value="1" />
  <add key="FMMonthCredit" value="0" />
  <add key="FMArrearageLine" value="1000.00" />
  <add key="CategoryNameOfUnsalableTwoWeek" value="笔记本电脑,数码相机,单反相机,数码摄像机,液晶显示器" />
  <add key="JDURL" value="http://www.360buy.com/product/" />
  <add key="NewEggURL1" value="http://www.newegg.com.cn/Products/ProductDetail.aspx?sysno=" />
  <add key="NewEggURL2" value="http://www2.newegg.com.cn/Product/" />
  <add key="EMSDiscount" value="2.5" />
  <add key="RMACollection" value="baolu:chengbing:bennyzhang:lilyyan:juntaofu:xinliu:jayli:helloxu:JackyHe:davidchen:alexzhai" />
  <add key="Key99BillRO" value="" />
  <add key="WebUrl" value="http://localhost/" />
  <add key="AdPath" value="E:\\WebRoot\\ICSON3\\Icson.Web2\\" />
  <add key="TempPath" value="E:\\ICSON\\ICSON\\Eson.IAS\\MakeHtml\\template\\" />
  <add key="HtmlPath" value="E:\\WebRoot\\ICSON3\\Icson.Web2\\Html\\" />
  <add key="PraiseAdviceHandleUser" value="339"/>
  <add key="AddFavorateMailTemplet" value="E:\\ICSON\\ICSON\\Icson.Web2\\IcsonMail\\Addfavorite48hEDM\\Addfavorite48hEDM.html"/>
  <add key="AddFavorateSendMailHour" value="72"/>
  <add key="SiteMapPath" value="E:\\ICSON\\ICSON\\Eson.IAS\\MKT\\sitemap.xml"/>

  <add key="VPPosHeadCollection" value="A09:A10:A11:A12"/>
  <add key="ICSONURL" value="http://ias.icson.com/"/>

  <add key="PicNoWaterPath" value="http://192.168.13.139/IcsonPIC/bpic/"/>

  <add key="NightDeliveryAreaSysNo" value="2627:" />
  <add key="NightDeliveryAreaName" value="杨浦区:"/>
  <add key="ManualInvoiceProductSysNo" value="47691" />
  <!--手工开票商品SysNo-->
  <!--机箱C3SysNo 149 -->
  <add key="MainFrameC3SysNo" value="149"/>
  <!--显卡C3SysNo 149 -->
  <add key="GraphicCardC3Sysno" value="166"/>
  <add key="ChkLicense" value="0" />
  <add key ="ICSONLocationURL" value=";0:http://ias.icson.com:8020/;1:http://ias.icson.com:1080/;2:http://ias.icson.com:1080/;3:http://ias.icson.com:1080/;"/>
  <add key="MorningShift" value="07:00,16:00" />
  <add key="MiddleShift" value="09:00,18:00" />
  <add key="NightShift" value="17:00,02:00" />
  <add key="ManualInvoiceProductSysNo" value="106086:106087:106088:106089:106090:106091:106092" />
  <add key="ManualInvoiceC3SysNo" value="792:"/>
  <add key="SequenceServerURL" value="http://10.1.2.189:9001" />
  <!--<add key="SequenceServerURL" value="office.chisg.com:9001" />-->
  <!--<add key="SequenceServerURL" value="http://127.0.0.1:9001/"/>-->
  <!--<add key="SequenceServerURL" value="http://localhost/MySequences" />-->
  <add key="AutoDeliveryParam" value="5"/>

  <!--黑名单-->
  <add key="DayNum" value="5" />
  <add key="WeekNum" value="20" />
  <!--销售预测-->
  <!--正常-->
  <add key="d1weight" value="1.5" />
  <add key="d2weight" value="1" />
  <add key="d3weight" value="0.7" />
  <add key="d4weight" value="1" />
  <add key="d5weight" value="1" />
  <add key="d6weight" value="1" />
  <add key="d7weight" value="1" />
  <!--是否按照特殊节日计算  1，是；0，否-->
  <add key="SpecialweightOpen" value="1" />
  <!--特殊-->

  <add key="Specialweigh" value="1" />
  <add key="normal" value="1,1.2,1.3,1.5"/>
  <add key="weekend" value="0.8,1,1.2,1.3"/>
  <add key="member" value="0.8,0.9,1,1.2"/>
  <add key="activity" value="0.7,0.8,0.9,1"/>

 <add key="Specialweigh" value="1" />
  

  <add key="Specialweigh" value="1.5" />


  <!--消息队列路径-->
  <add key="mshQueue" value=".\private$\mshqueue" />

  <!--企信通短信 行业账号，密码-->
  <add key="QiXinTongAccount" value="mshhy6" />
  <add key="QiXinTongPassword" value="msh614" />

  <!--企信通短信 营销账号，密码-->
  <add key="QiXinTongMarketAccount" value="mshyx6" />
  <add key="QiXinTongMarketPassword" value="msh614" />

  <!--企信通语音验证码 账号，密码-->
  <add key="QiXinTongVoiceAccount" value="mshyy" />
  <add key="QiXinTongVoicePassword" value="msh717" />

  <!--服务商名称-->
  <add key="ProvideName" value="企信通" />

  <add key="ReturnSoAutoRefundSalesManSysNo" value="0,5,24,26,23,24,25,28,29" />
  <!--排除拒收订单自动生成退款申请的来源平台-->
  <add key="NoReturnSoAutoRefundSalesManSysNo" value="1,2,3" />

  <!-- 微信退款 -->
  <add key="WeiXinRefundSource" value="10d3d7012d544f73b55459f354c16ab6"/>

  <!-- 微信退款 -->
  <add key="WeiXinRefundSecret" value="45123721c2334641b48463e576328af0"/>

  <add key="AutoRefundAmtCountCyc" value="1"/>

  <!--自动补货相关设置-->
  <!--是否兼容老的要货篮-->
  <add key="IsOpenOldBasket" value="false"/>
  <!--是否兼容老的要货篮 0 不开启 1开启-->
  <add key="IsOpenChildrenDemand" value="false"/>
  <!--截止提交时间-->
  <add key="DemandStopSubmitTime" value="1,02:00:00"/>

  <!--微信手续费-->
  <add key="WeiXinFee" value="0.0038"/>

  <!--支付宝手续费-->
  <add key="AliPayFee" value="0.0055"/>

  <!--刷脸支付手续费-->
  <add key="AliFaceFee" value="0.0038"/>

  <!--市斤价显示模板电子价签的三级品类-->
  <add key="CattyC3Sysnos" value="" />
  <add key="aspnet:MaxJsonDeserializerMembers" value="150000000" />

  <!-- 收银服务Source -->
  <add key="StoreServicesSource" value="605001" />
  <!-- 收银服务Secret -->
  <add key="StoreServicesSecret" value="45123721c2334641b48463e576328af0" />

  <add key="SystemSecrect" value="45123721c2334641b48463e576328af0" />
  <add key="TokenExpireMinutes" value="1440" />
</appSettings>
